/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777;
  margin: 40px 0px 70px;
  text-align: center;
}

.padded { padding: 10px; }

.bordered-td td { border: 1px solid #000; }

.bordered { border: 1px solid #000; }

.middle-aligned { vertical-align: middle; }

.clickable { cursor: pointer; }

.padded-table td { valign: middle; padding: 5px; }

.table-header { font-weight: bold; }

/**************** SECONDS CUBE COMPONENTS ****************/

/** */
#sc-header { color: #777; }

/** */
#sc-feedback { height: 150px; }

/** */
#sc-scramble { background-color: #A3DAEC; }

/** Timer */
#sc-timer { font-size: 100px; }

/** */
#sc-stats { }

/** */
#sc-history { background-color: #A3DAEC; }

/** */
#sc-graph { color: #FFF; }

/** */
#sc-footer { color: #FFF; }
